<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/logo-policlinico.png">
    <title>Editar Paciente - SIKALMA</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <div th:replace="fragments/menu :: menu"></div>

    <main>
        <div class="encabezado">
            <div class="encabezado-texto">
                <div class="retorno">
                    <a href="/paciente/gestion">Pacientes</a>
                    <span>›</span>
                    <span th:text="|Editar Paciente #P0${paciente.id}|"></span>
                </div>
                <h1>Editar Paciente</h1>
                <p>Modifica los datos del paciente registrado</p>
            </div>
        </div>

        <div class="formulario-card">
            <h2 th:text="|Datos del Paciente — ID: #P0${paciente.id}|"></h2>

            <div th:if="${error != null}">
                <div class="error-alert">
                    <span class="error-icon">⚠️</span>
                    <span class="error-message" th:text="${error}"></span>
                </div>
            </div>

            <form th:action="@{/paciente/editar}" method="post" >

                <input type="hidden" name="id" th:value="${paciente.id}">
                <input type="hidden" name="tipoDocumento" th:value="${paciente.tipoDocumento}">

                <div class="campo">
                    <label>Nombre completo</label>
                    <input type="text" th:value="${paciente.nombres}" name="nombres" required>
                </div>

                <div class="campo">
                    <label>Numero de documento</label>
                    <input type="text" th:value="${paciente.numeroDocumento}" name="numeroDocumento" required >
                </div>

                <div class="fila-form">
                    <div>
                        <label>Teléfono</label>
                        <input type="text" th:value="${paciente.telefono}" maxlength="9" pattern="9\d{8}" inputmode="numeric" name="telefono" required >
                    </div>

                    <div>
                        <label>Fecha de nacimiento</label>
                        <input type="date" th:value="${paciente.fechaNacimiento}" maxlength="9" name="fechaNacimiento" required >
                    </div>
                </div>

                <div class="form-acciones">
                    <a href="/paciente/gestion" class="btn-secundario">Cancelar</a>
                    <button type="submit" class="btn-primario">Guardar Cambios</button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>
