<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Gestión de Personal - SIKALMA</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>

<body>
    <div th:replace="fragments/menu :: menu"></div>
    <main>
        <div class="encabezado">
            <div class="encabezado-texto">
                <h1>Gestión de Personal Médico</h1>
                <p>Visualice y administre la información de los doctores registrados</p>
            </div>
            <a href="/doctor/nuevo" class="btn-primario">+ Registrar Doctor</a>
        </div>

        <div class="buscador-seccion">
            <form th:action="@{/doctor/buscar}" method="get" class="buscador-form">
                <input type="text" name="dni" placeholder="Ingrese DNI del doctor..." class="buscador-input" required>

                <button type="submit" class="btn-primario">
                    Buscar por DNI
                </button>

                <a href="/doctor/gestion" class="btn-secundario buscador-limpiar">
                    Limpiar
                </a>
            </form>
        </div>

        <div class="tabla-contenedor">
            <table class="tabla-gestion">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>DNI</th>
                        <th>Edad</th>
                        <th>Especialidad</th>
                        <th>Teléfono</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="doc : ${doctores}">
                        <td th:text="|#D${doc.id}|"></td>
                        <td th:text="${doc.nombre}"></td>
                        <td th:text="${doc.dni}"></td>
                        <td th:text="${doc.getEdad()}"></td>
                        <td th:text="${doc.servicio.nombre}"></td>
                        <td th:text="${doc.telefono}"></td>
                        <td th:text="${doc.estado ? 'Activo' : 'Inactivo'}"></td>
                        <td class="acciones-celda">
                            <a th:href="@{/doctor/editar(id=${doc.id})}" class="btn-editar">Editar</a>
                            <a th:href="@{/doctor/activar(id=${doc.id})}" class="btn-activar">Activar</a>
                            <a th:href="@{/doctor/desactivar(id=${doc.id})}" class="btn-desactivar">Desactivar</a>
                            <a th:href="@{/ausencia/gestion(id=${doc.id})}" class="btn-ausencias">Ver ausencias</a>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>