<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/logo-policlinico.png">
    <title>Gestión de Atenciones - SIKALMA</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <div th:replace="fragments/menu :: menu"></div>

    <main>
        <div class="encabezado">
            <div class="encabezado-texto">
                <h1>Gestión de Atenciones</h1>
                <p>Registro de atenciones médicas realizadas a partir de citas confirmadas</p>
            </div>
        </div>

        <div class="tabla-contenedor">
            <div class="tabla-encabezado">
                <div>
                    <h3>Listado de Atenciones</h3>
                    <p th:text="|Total: ${atenciones.size()} registros|"></p>
                </div>
            </div>

            <table>
                <thead>
                    <tr>
                        <th>ID Atención</th>
                        <th>Cita Origen</th>
                        <th>Paciente</th>
                        <th>Servicio</th>
                        <th>Doctor</th>
                        <th>Fecha</th>
                        <th>Diagnóstico</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="atencion : ${atenciones}">
                        <td th:text="|#A${atencion.id}|"></td>
                        <td th:text="|#${atencion.cita.id}|"></td>
                        <td th:text="${atencion.cita.paciente.nombres}"></td>
                        <td th:text="${atencion.cita.doctor.servicio.nombre}"></td>
                        <td th:text="${atencion.cita.doctor.nombre}"></td>
                        <td th:text="${atencion.cita.fecha}"></td>
                        <td th:text="${atencion.diagnostico}"></td>
                        <td><span class="estado estado-atendido" th:text="${atencion.estado}"></span></td>
                        <td class="td-acciones">
                                <div class="acciones">
                                    <a th:href="@{/atencion/ver(id=${atencion.id})}" class="btn-ver">Ver</a>
                                    <a th:href="@{/atencion/editar(id=${atencion.id})}" class="btn-editar">Editar</a>
                                </div>
                            </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
