<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/logo-policlinico.png">
    <link rel="stylesheet" href="/css/login.css">
    <title>Iniciar Sesión - SIKALMA</title>
</head>
<body>
    <div class="login-izquierda">
        <img src="/images/logo-clinica-blanco.png" alt="logo SIKALMA">
        <h2>Bienvenido a SIKALMA</h2>
        <p>Sistema de gestión de citas y atenciones del policlínico. Accede con tus credenciales para continuar.</p>
    </div>
    <div class="login-derecha">
        <div class="login">

             <div th:if="${error != null}">
                <div class="error-alert">
                    <span class="error-icon">⚠️</span>
                    <span class="error-message" th:text="${error}"></span>
                </div>
            </div>

            <h1>Iniciar Sesión</h1>
            <p>Ingresa tus datos para acceder al sistema</p>
            <form th:action="@{/usuario/entrar}" method="post">
                <div class="campo">
                    <label>Correo</label>
                    <input type="text" name="correo" placeholder="Tu correo electrónico">
                </div>
                <div class="campo">
                    <label>Contraseña</label>
                    <input type="password" name="contrasena" placeholder="Contraseña">
                </div>
                <button type="submit" class="btn-login">Ingresar</button>
            </form>
            <a href="/paginas-estaticas/main.html" class="retorno">← Volver al inicio</a>
        </div>
    </div>
</body>
</html>
