<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/logo-policlinico.png">
    <title>Métricas - SIKALMA</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>

<body>

    <div th:replace="fragments/menu :: menu"></div>

    <main>
        <div class="encabezado">
            <div class="encabezado-texto">
                <h1>Métricas del Sistema</h1>
                <p>Indicadores clave de rendimiento del policlínico SIKALMA</p>
            </div>
        </div>

        <div class="metricas-grid">
            <div class="metricas-fila">
                <div class="metrica-card">
                    <h3>Citas programadas por día</h3>
                    <div class="chart-container">
                        <canvas id="graficoCitas"></canvas>
                    </div>
                </div>
                <div class="metrica-card">
                    <h3>Distribución de estados por citas</h3>
                    <div class="chart-card">
                        <canvas id="graficoEstados"></canvas>
                    </div>

                </div>
            </div>
            <div class="metricas-fila">
                <div class="metrica-card">
                    <h3>Ingresos por día</h3>
                    <div class="chart-container">
                        <canvas id="graficoIngresos"></canvas>
                    </div>
                </div>
                <div class="metrica-card">
                    <h3>Citas por servicio</h3>
                    <div class="chart-container">
                        <canvas id="graficoServicios"></canvas>
                    </div>
                </div>
            </div>
            <div class="metricas-fila">
                <div class="metrica-card metrica-unica">
                    <h3>Citas por día de la semana</h3>
                    <div class="chart-container">
                        <canvas id="graficosDias"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script th:inline="javascript">

        const fechas = [[${ fechas }]];
        const cantidades = [[${ cantidades }]];

        console.log("Fechas:", fechas);
        console.log("Cantidades:", cantidades);

        const ctx = document.getElementById('graficoCitas');

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: fechas,
                datasets: [{
                    label: 'Cantidad de citas',
                    data: cantidades,
                    backgroundColor: [
                        '#3b82f6',
                        '#22c55e',
                        '#f59e0b',
                        '#ef4444',
                        '#a855f7',
                        '#14b8a6',
                        '#f97316'
                    ]
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false
            }
        });

        const ctxEstados = document.getElementById('graficoEstados');

        const estados = [[${ estados }]];
        const cantidadesEstados = [[${ cantidadEstado }]];

        new Chart(ctxEstados, {
            type: 'doughnut',
            data: {
                labels: estados,
                datasets: [{
                    data: cantidadesEstados,
                    backgroundColor: [
                        '#3b82f6',
                        '#22c55e',
                        '#f59e0b',
                        '#ef4444',
                        '#a855f7',
                        '#14b8a6',
                        '#f97316'
                    ]
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false
            }
        });

        const ctxIngresos = document.getElementById('graficoIngresos');

        const fechasIngreso = [[${ fechasIngresos }]];
        const ingresos = [[${ ingresos }]];

        new Chart(ctxIngresos, {
            type: 'line',
            data: {
                labels: fechasIngreso,
                datasets: [{
                    data: ingresos,
                    label: 'Ingresos por fechas',
                    fill: false,
                    tension: 0.3,
                    backgroundColor: 'rgba(59,130,246,0.2)'
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false
            }
        });

        const ctxServicios = document.getElementById('graficoServicios');

        const servicios = [[${ servicios }]];
        const cantidadServicio = [[${ cantidadServicio }]];

        new Chart(ctxServicios, {
            type: 'bar',
            data: {
                labels: servicios,
                datasets: [{
                    data: cantidadServicio,
                    label: 'Citas por servicio',
                    backgroundColor: [
                        '#3b82f6',
                        '#22c55e',
                        '#f59e0b',
                        '#ef4444',
                        '#a855f7',
                        '#14b8a6',
                        '#f97316'
                    ]
                }]
            },
            options: {
                indexAxis: 'y',
                responsive: true,
                maintainAspectRadio: false
            }
        });

        const ctxCitasDIas = document.getElementById('graficosDias');

        const dias = [[${ diasCitas }]];
        const cantidadDia = [[${ cantidadCitas }]];

        new Chart(ctxCitasDIas, {
            type: 'bar',
            data: {
                labels: dias,
                datasets: [{
                    data: cantidadDia,
                    label: 'Citas por dias',
                    backgroundColor: [
                        '#3b82f6',
                        '#22c55e',
                        '#f59e0b',
                        '#ef4444',
                        '#a855f7',
                        '#14b8a6',
                        '#f97316'
                    ]
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false
            }
        })




    </script>
</body>

</html>