<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrar Doctor - SIKALMA</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>

    <div th:replace="fragments/menu :: menu"></div>
    <main>
        <div class="encabezado">
            <div class="encabezado-texto">
                <h1>Registrar Nuevo Usuario</h1>
                <p>Complete el perfil del nuevo usuario</p>
            </div>
        </div>

        <div class="formulario-card" style="position: relative;">


            <div class="buscador-seccion">
                <form th:action="@{/usuario/buscar}" method="get" class="buscador-input">
                    <input type="text" name="dni" placeholder="Ingrese DNI del doctor..." class="buscador-input" required>
                    <button type="submit" class="btn-primario">Buscar por DNI</button>
                    <a href="/usuario/gestion" class="btn-secundario buscador-limpiar">Limpiar</a>
                </form>
            </div>

            <div th:if="${error != null}">
                <div class="error-alert">
                    <span class="error-icon">⚠️</span>
                    <span class="error-message" th:text="${error}"></span>
                </div>
            </div>
            <form th:action="@{/usuario/registrar}" method="post">
                <div class="campo">
                        <label>Doctor</label>
                         <input type="text" name="nombre" th:value="${doctor != null ? doctor.nombre : ''}"  readonly>

                </div>
                <div class="campo">
                    <label>Correo Electronico</label>
                         <input type="text" name="correo" th:value="${doctor != null ? doctor.correo : ''}"  readonly>
                </div>

                <div class="fila-form">
                    <div class="campo">
                        <label>Contraseña</label>
                        <input type="password" name="contrasena" th:value="${usuarioForm != null ? usuarioForm.contrasena : ''}"  placeholder="contraseña" required>
                    </div>

                </div>

                <input type="hidden" name="rol" value="DOCTOR">
                <input type="hidden" name="idDoctor" th:value="${doctor != null ? doctor.id : 0}"> 

                <div class="form-acciones">
                    <a href="/doctor/gestion" class="btn-cancelar">Cancelar</a>
                    <button type="submit" class="btn-primario">Registrar Usuario</button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>